WIFI_SSID=YourNetworkName
WIFI_PASSWORD=YourWifiPassword
SECRET_PSK=your_psk_here
HUB_URL=http://192.168.x.x:8000/api/upload/cam_01
COMMAND_MODULE_URL=http://192.168.0.x:8000
JETSON_URL=http://192.168.0.x:8001
