COMMAND_MODULE_URL=http://192.168.1.XXX:8000
INFERENCE_GPU_ID=0
INFERENCE_MODEL_PACK=buffalo_l
INFERENCE_MODELS_DIR=/models
INFERENCE_MAX_DETECT_SIZE=640
INFERENCE_RECOGNITION_THRESHOLD=0.40
INFERENCE_LOG_LEVEL=info
